<h1 class="mat-display-1">App powered by</h1>
<mat-grid-list #grid rowHeight="2:1" cols=grid.cols>
        <mat-grid-tile><img mat-card-image class="img" src="assets/img/angular.svg"></mat-grid-tile>
        <mat-grid-tile><img mat-card-image class="img" src="assets/img/pwa.svg"></mat-grid-tile>
        <mat-grid-tile><img mat-card-image class="img" src="assets/img/netlify.svg"></mat-grid-tile>
        <mat-grid-tile><img mat-card-image class="img" src="assets/img/fontawesome.svg"></mat-grid-tile>
        <mat-grid-tile><img mat-card-image class="img" src="assets/img/vscode.svg"></mat-grid-tile>
        <mat-grid-tile><img mat-card-image class="img" src="assets/img/github.svg"></mat-grid-tile>
</mat-grid-list>