<h1 class="mat-display-2">Resumè</h1>

<mat-tab-group dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label>
            <fa-icon [icon]="faKeyboard"class="fa-2x fa-fw"></fa-icon>
            <a>Experiences</a>
        </ng-template>
        <!-- <h1 class="mat-headline">Experiences</h1> -->
        <h2 class="mat-title">2015 - Today</h2>
        <h3 class="mat-subheading-2">Cybersecurity Engineer at Allsafe</h3>
        <mat-divider></mat-divider>
        <h2 class="mat-title">2014 - 2015</h2>
        <h3 class="mat-subheading-2">White Hat Hacker at Backdoor Inc.</h3>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <fa-icon [icon]="faWrench"class="fa-2x fa-fw"></fa-icon>
            <a>Skills</a>
        </ng-template>
        <!-- <h1 class="mat-headline">Skills</h1> -->
        <mat-list>
            <mat-list-item> Bash Scripting </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> DDOS Attacks </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> System Violation </mat-list-item>
        </mat-list>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <fa-icon [icon]="faUserGraduate"class="fa-2x fa-fw"></fa-icon>
            <a>Education</a>
        </ng-template>
        <!-- <h1 class="mat-headline">Education</h1> -->
        <h2 class="mat-title">2012 - 2104: Master of Science Degree - Security Engineering</h2>
        <mat-divider></mat-divider>
        <h2 class="mat-title">2009 - 2012: Bachelor of Science Degree - IT Engineering</h2>
    </mat-tab>
</mat-tab-group>