.mat-display-2{
    text-align: center;
}

.mat-headline{
    margin-left: 2%;
}

.mat-title, mat-list-item{
    margin-left: 4%;
}

.mat-subheading-2{
    margin-left: 6%;
}

fa-icon {
    margin-right: .2em;
  }